@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 20, 20, 20;
    --background-end-rgb: 20, 20, 20;
  }
}

body {
  background-color: rgba(20, 20, 20,1);
}

 @layer utilities {
   .text-balance {
     text-wrap: balance;
   }
}

.card-bg{
  background-color: rgba(35, 35, 36, 1);
}

.card-name{
  font-weight: 400;
  font-size: 24px;
  color: rgba(225, 227, 230, 1);
  line-height: 32px;
}

.change-btn{
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgba(118, 120, 122, 1);
}